.config
.snap*
hardware/.setup*
hardware/setup/*.jou
hardware/setup/*.log
hardware/sim/ies
hardware/sim/xsim
hardware/sim/questa
software/*/*.o
software/*/*.d
software/*/*.so
software/tools/snap_actions.h
