*~
hdl/*~
hdl/core/psl_fpga.vhd*
hdl/core/psl_accel.vhd
sim/core/top.sv
hdl/nvme/component.xml
hdl/nvme/xgui
*build
setup/*~
sim/ies/
sim/xsim/
viv_project*/
ip/
sim/*.log
sim/20*
.bitstream_name.txt
