###############################################################################
#
# SNAP Configuration Assistant
#   Please select card and appropriate options
#
###############################################################################

choice
        prompt "Card type"
        help
          There are multiple card the framework supports. Please select
          one of them.

config FLASH_GT
        bool "Flash GT with DDR4, NVMe and Xilinx FPGA"
        help
          Nallatech Flash GT card originally used for CAPI Flash using NVMe
          storage. Uses Xilinx FPGA.

config CAPI_GZIP
        bool "CAPI GZIP and Altera FPGA"
        help
          Nallatech card used for CAPI GZIP product. Uses Altera FPGA.

config KU3
        bool "KU3 Card with Ethernet, DDR3 and Xilinx FPGA"
        help
          Alpha Data KU3 has ethernet and DDR3. Uses Xilinx FPGA.

endchoice

############# Xinlinx Tools ###################################################

menu "Xilinx Tools"
        depends on FLASH_GT || KU3

choice
        prompt "Xilinx Tools"
        default VIVADO_1604

config VIVADO_1504
        bool "Vivado 15.04"

config VIVADO_1604
        bool "Vivado 16.04"

endchoice

# Try selecting different default path settings for the differet versions
# of the Xilinx tools.
config XLINIX_PATH
	string "Path to Xilinx tools 15.04"
	depends on VIVADO_1504
	default "/afs/bb/proj/fpga/xilinx/Vivado_HLS/2015.4/bin"

config XLINIX_PATH
	string "Path to Xilinx tools 16.04"
	depends on VIVADO_1604
	default "/afs/bb/proj/fpga/xilinx/Vivado_HLS/2016.4/bin"

endmenu

############# Peripherals ######################################################

config DDR3
        bool "DDR3 Support"
        default n
        depends on KU3 || CAPI_GZIP
        help
          This option selects whether to use DDR3 or not.

config DDR4
        bool "DDR4 Support"
        default n
        depends on FLASH_GT
        help
          This option selects whether to use DDR4 or not.

config NVME
        bool "NVME Support"
        default n
        depends on FLASH_GT
        help
          This option selects whether to use NVME or not.

config ETHERNET
        bool "ETHERNET Support"
        default n
        depends on KU3
        help
          This option selects whether to use ETHERNET or not.

config JOB_MANAGER
        bool "Job manager"
        default y
        depends on FLASH_GT || CAPI_GZIP || KU3
        help
          The card manager offers AFU directed support and a job queue
          for acceleration purposes.

config ACTION_MAX
        int "Action Max"
        default 16
        help
          Maximum number of possible FPGA actions for the SNAP framework.

config AFU_CONTEXTS
        int "Number of possible AFU contexts"
        default 128
        help
          Adjust the possible numbers of AFU contexts for CAPI directed
          mode. 1 - 256 is making sense.

############# Action Setup ####################################################

menu "Action Setup"

config ACTION
        bool "Use external FPGA action"
        default n
        help
          Enable user defined actions.

config ACTION_WIDTH
        int "Action data bus width"
        depends on ACTION
        default 512
        help
          Use this to build your own action.

config ACTION_GIT
        string "Action URL"
        depends on ACTION
        default "git@github.ibm.com:ibm-capi/snap-example-actions.git"
        help
          Use this git to download the action code.

config ACTION_DIR
        string "Action directory"
        depends on ACTION
        default "hash_join_512b"
        help
          Use this git to download the action code.

config HLS_MEMOPY
        bool "HLS MemCopy"
        depends on KU3 || FLASH_GT
        default n
        help
          HLS written simple example for memcopy. Use demo_memcopy to
          call the action.

config HLS_SEARCH
        bool "HLS Search"
        depends on KU3 || FLASH_GT
        default n
        help
          HLS written simple example for searching a byte in a buffer.
          Use demo_search to call the action.

config HLS_HASHJOIN
        bool "HLS HashJoin"
        depends on KU3 || FLASH_GT
        default n
        help
          HLS written simple example for a hash join operation. Use 
          demo_hashjoin to call the action.

endmenu
