###############################################################################
#
# SNAP Configuration Assistant
#   Please select card and appropriate options
#
###############################################################################

choice
        prompt "Card type"
        help
          There are multiple card the framework supports. Please select
          one of them.

config FLASHGT
        bool "Flash GT with DDR4, NVMe and Xilinx FPGA"
        help
          Nallatech Flash GT card originally used for CAPI Flash using NVMe
          storage. Uses Xilinx FPGA.

config KU3
        bool "KU3 Card with Ethernet, DDR3 and Xilinx FPGA"
        help
          Alpha Data KU3 has ethernet and DDR3. Uses Xilinx FPGA.

endchoice

############# FPGA CHIP #######################################################

# Depends on the card which was selected. E.g. xcku060-ffva1156-2-e for
# KU3 as well as for FLASHGT.

############# Xinlinx Tools ###################################################

menu "Xilinx Tools"
        depends on FLASHGT || KU3

choice
        prompt "Xilinx Tools"
        default VIVADO_1604

config VIVADO_1604
        bool "Vivado 16.04"

config VIVADO_1704
        bool "Vivado 17.04"

endchoice

endmenu

# Try selecting different default path settings for the differet versions
# of the Xilinx tools. The AFS example is for our IBM internal setup.
#
config XLINIX_PATH
        string "Path to Xilinx tools 16.04"
        depends on VIVADO_1604
        default "/afs/bb/proj/fpga/xilinx/Vivado_HLS/2016.4/bin"

############# Simulator #######################################################

menu "Simulator"
        depends on FLASHGT || KU3

choice
        prompt "ncsim"
        default SIMULATOR_XSIM

config SIMULATOR_XSIM
        bool "XSIM"

config SIMULATOR_NCSIM
        bool "NCSIM"

config SIMULATOR_IRUN
        bool "IRUN"

endchoice

endmenu

############# Peripherals ######################################################

# Available peripherals depend on the card which was selected and if they make
# sense for the respective configuration e.g. action.
#

choice
        prompt "Card RAM Selection"
        default SDRAM_USED

config SDRAM
        bool "SDRAM"
        default y
        depends on KU3 || FLASHGT
        help
          This option selects whether to use the SDRAM inferface or not.

config BRAM
        bool "BRAM"
        default y
        depends on KU3 || FLASHGT
        help
          This option selects whether to use the BRAM interface or not.

config NORAM
        bool "No CARD RAM"
        default y
        depends on KU3 || FLASHGT
        help
          Select this if you neither need SDRAM nor BRAM.

endchoice

config NVME
        bool "NVME Support"
        default n
        depends on FLASHGT
        help
          This option selects whether to use NVME or not.

config ETHERNET
        bool "ETHERNET Support"
        default n
        depends on KU3
        help
          This option selects whether to use ETHERNET or not.

config NUM_OF_ACTIONS
        int "Number of available SNAP actions"
        default 1
        help
          Maximum number of possible FPGA actions for the SNAP framework.

config AFU_CONTEXTS
        int "Number of possible AFU contexts"
        default 128
        help
          Adjust the possible numbers of AFU contexts for CAPI directed
          mode. 1 - 256 is making sense.

############# Action Setup ####################################################

config DEFAULT_MEMCOPY
        bool "VHDL written MemCopy"
        depends on KU3 || FLASHGT
	select SDRAM
        default y
        help
          VHDL written simple example for a memcopy.
          Use stage2 to call the action.

config HLS_MEMCOPY
        bool "HLS MemCopy"
        depends on KU3 || FLASHGT
	select SDRAM
        default n
        help
          HLS written simple example for memcopy. Use demo_memcopy to
          call the action.

config HLS_SEARCH
        bool "HLS Search"
        depends on KU3 || FLASHGT
        select SDRAM
        default n
        help
          HLS written simple example for searching a byte in a buffer.
          Use demo_search to call the action.

config HLS_HASHJOIN
        bool "HLS HashJoin"
        depends on KU3 || FLASHGT
        default n
        help
          HLS written simple example for a hash join operation. Use 
          demo_hashjoin to call the action.

config HLS_SPONGE
        bool "HLS Sponge"
        depends on KU3 || FLASHGT
        default n
        help
          HLS written simple example for a sponge checksum benchmark.
          Use demo_checksum -m SPONGE to call the action.
